
*{
  box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18181d;
  height: 100vh;
  width: 100%;
  font-family: monospace;
  color: #999;
  box-sizing: border-box;
}

.visu{
  width: 1008px;
  height: 1008px;
  background-image: url('test4.jpg');
  position: relative;
}

.line, .line2{
  color: aqua;
  opacity: 0.2;
  position: absolute;
  background-color: currentColor;
}
.line{
  width: 600px;
  height: 1px;
  box-shadow: 0px 100px 0 0 currentColor, 0px 200px 0 0 currentColor, 0px 300px 0 0 currentColor, 0px 400px 0 0 currentColor, 0px 500px 0 0 currentColor, 0px 600px 0 0 currentColor;
}
.line2{
  width: 1px;
  height: 600px;
  box-shadow: 100px 0 0 0 currentColor, 200px 0 0 0 currentColor, 300px 0 0 0 currentColor, 400px 0 0 0 currentColor, 500px 0 0 0 currentColor, 600px 0 0 0 currentColor;
}


.marker{
width: 50px;
height: 50px;
position: absolute;
top: -20px;
left: -20px;
/* transform: translate(50%, 50%); */
border-top: solid 2px #34e4da;
transform-origin: right bottom;
}
